/* --------------------- 公共 --------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: black;
}


a:hover {
	text-decoration: none;
	cursor: default;
}

body {
	background-color: rgb(241, 241, 241);
}

.color_777 {
	color: #777
}


/* --------------------- 头部 --------------------- */

#header {
	/* div 居中 */
	margin: 0 auto;
	background-color: #f9f9f9;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0%);
	width: inherit;
	z-index: 20;
	box-shadow: 0px 0px 6px #cfcfcf;
	border: none;
}


#topnav {
	line-height: 50px;
}

/* --------------------- 中部 --------------------- */

#midland {

	height: 50px;
	margin: 0 auto;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 100%);
	width: inherit;
	z-index: 10;
	border: none;
}

#menu {
	width: 100%;
}

.layout-container {
	background-color: #f9f9f9;
}

#blog_midland {
	padding: 0px;
}

#blog_midland .midland_header {
	height: 100px;
	background-color: #f9f9f9;
	text-align: start;
	padding: 20px;
}

.midland_header_1 {
	margin: 0px;
	font-size: 30px
}

.midland_header_2 {
	line-height: 30px
}


/* --------------------- 底部 --------------------- */