/* --------------------- 头部 --------------------- */

#header {
	/* div 居中 */
	margin: 0 auto;
	background-color: #f9f9f9;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0%);
	width: inherit;
	z-index: 20;
	box-shadow: 0px 0px 6px #cfcfcf;
	border: none;
}


#topnav {
	line-height: 50px;
}

/* --------------------- 中部 --------------------- */

#midland {
	/* height: 50px; */
	height: 100vh;
	margin: 0 auto;
	position: fixed;
	left: 50%;
	/* transform: translate(-50%, 100%); */
	transform: translate(-50%, 50px);
	width: inherit;
	z-index: 10;
	border: none;
	overflow: hidden;
}

#menu {
	width: 100%;
}

.layout-container {
	background-color: #f9f9f9;
}

#blog_midland {
	padding: 0px;
}

.resize_left_line {
	/* cursor: w-resize; */
	cursor: none;
	width: 10px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	right: 0;
}

#caret_left {
	width: 1em;
	height: 1em;
	position: fixed;
	transform: translateX(-9px);
}

#right {
	max-width: 20.8333%;
	background-color: #61b7fc;
}

.resize_right_line {
	cursor: none;
	/* cursor: e-resize; */
	width: 3px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
}

#caret_right {
	width: 1em;
	height: 1em;
	position: fixed;
	transform: translateX(-4px);
}

/* --------------------- 底部 --------------------- */